html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
      0-600px:    Phone
    600-900px:    Tablet portrait
   900-1200px:    Tablet landscape
[1200-1800px]:    is wher are normal style applies
     1800px +:    Big screens


breakpoint argument choices:

- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components

  (1em = 16px)
*/
*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  /* font-size: 10px; */
  font-size: 62.5%; }
  @media (max-width: 91em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  background-color: #f6e3fc;
  box-sizing: border-box; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.hide {
  visibility: hidden; }

.show {
  visibility: visible; }

.logo {
  height: 10rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6rem;
  border-right: 2px solid #ece5f6;
  padding-right: 4rem; }

.footer-logo {
  height: 10rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6rem;
  padding-right: 4rem; }

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #fff; }

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #fff; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a662a2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-right: rem;
  margin: 2rem;
  left: 35%;
  position: relative; }

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171; }

/* Add an italic font style to all quotes */
q {
  position: relative;
  float: left;
  top: 5rem;
  font-size: 2.5rem;
  color: #a2539f; }

/* Add a blue color to the author */
.author {
  float: left;
  font-size: 3rem;
  display: block !important;
  position: absolute;
  color: #a662a2; }

.section-1 {
  float: right;
  margin-top: 1rem; }
  .section-1-img {
    height: 68.5rem; }

.section-2 {
  margin-top: 3rem;
  text-align: justify;
  font-family: 'Hepta Slab', serif; }
  .section-2-box-1 {
    height: 10rem;
    width: 32%;
    background-color: #fff;
    display: inline-block; }
    .section-2-box-1-img {
      height: 7rem;
      position: relative;
      top: 2rem;
      left: 8%; }
    .section-2-box-1 span {
      font-size: 2rem;
      color: #74559b;
      position: relative;
      left: 5rem;
      bottom: 2.5rem; }
    .section-2-box-1 p {
      font-size: 1.4rem;
      position: relative;
      left: 14rem;
      bottom: 1rem; }
  .section-2-box-2 {
    height: 10rem;
    width: 32%;
    background-color: #fff;
    display: inline-block; }
    .section-2-box-2-img {
      height: 7rem;
      position: relative;
      top: 2rem;
      left: 8%; }
    .section-2-box-2 span {
      font-size: 2rem;
      color: #74559b;
      position: relative;
      left: 5rem;
      bottom: 2.5rem; }
    .section-2-box-2 p {
      font-size: 1.4rem;
      position: relative;
      left: 11.5rem;
      bottom: 1rem; }
  .section-2-box-3 {
    height: 10rem;
    width: 32%;
    background-color: #fff;
    display: inline-block; }
    .section-2-box-3-img {
      height: 7rem;
      position: relative;
      top: 2rem;
      left: 8%; }
    .section-2-box-3 span {
      font-size: 2rem;
      color: #74559b;
      position: relative;
      left: 5rem;
      bottom: 2.5rem; }
    .section-2-box-3 p {
      font-size: 1.4rem;
      position: relative;
      left: 11.5rem;
      bottom: 1rem; }
  .section-2:after {
    content: '';
    width: 100%;
    /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block; }

.section-3 {
  height: 24rem;
  background-color: #fff;
  position: relative;
  margin-top: 3rem; }
  .section-3-p-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    font-size: 4rem;
    font-family: 'Hepta Slab', serif;
    font-weight: 700;
    color: #74559b; }
  .section-3-p-2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
    font-size: 3rem;
    font-family: 'Hepta Slab', serif;
    font-weight: 700;
    color: #a662a2; }

.section-4 {
  height: 40rem;
  background-color: #fff;
  position: relative; }
  .section-4-slideshow {
    position: absolute;
    width: 100%;
    top: 20%; }
  .section-4-p-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    font-size: 4rem;
    font-family: 'Hepta Slab', serif;
    font-weight: 700;
    color: #74559b;
    z-index: 10; }
  .section-4-p-2 {
    float: left;
    font-size: 3rem;
    display: block !important;
    position: absolute;
    color: #74559b;
    top: 30rem;
    left: 4rem; }

@-moz-document url-prefix() {
  .section-1 {
    float: right;
    margin-top: 1rem; }
    .section-1-img {
      height: 68.5rem; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .section-1 {
    float: right;
    margin-top: 1rem; }
    .section-1-img {
      height: 68.5rem; } }

.woocommerce ul.products li.product a img {
  width: 29rem;
  height: 29rem; }

.woocommerce-loop-product__title {
  font-family: 'Hepta Slab', serif;
  font-size: 2.3rem !important;
  text-align: center !important;
  line-height: 1.3;
  font-weight: 800;
  max-width: 24rem !important;
  position: absolute !important;
  left: 4rem !important;
  top: 55%;
  color: #74559b !important; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .woocommerce-loop-product__title {
    font-family: 'Hepta Slab', serif;
    font-size: 2rem !important; } }

.woocommerce.columns-3 {
  height: 65rem;
  background-color: #fff;
  border-bottom: 3px solid rgba(116, 85, 155, 0.3); }

ul.products.columns-3 {
  text-align: center !important; }

ul.products.columns-3 li {
  text-align: center !important;
  width: 25% !important;
  height: 56rem !important;
  background-color: #fff !important;
  border: 3px solid rgba(116, 85, 155, 0.3); }
  ul.products.columns-3 li a img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%; }

.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
  width: 25% !important;
  height: 56rem !important;
  background-color: #fff !important;
  position: relative !important;
  left: 10% !important; }

.woocommerce ul.products li.product .price {
  font-size: 3em !important;
  font-family: 'Hepta Slab', serif;
  font-weight: 600;
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 76.5% !important;
  position: absolute !important;
  color: #74559b !important; }

@-moz-document url-prefix() {
  .woocommerce ul.products li.product .price {
    font-size: 2.5em !important; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .woocommerce ul.products li.product .price {
    font-size: 2.5em !important; } }

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  position: absolute;
  top: 83%;
  left: 65%;
  transform: translateX(-50%);
  width: 17rem;
  height: 7rem;
  background-color: #ece5f6;
  border: 2px solid rgba(116, 85, 155, 0.3); }

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  font-size: 2rem;
  color: #74559b !important;
  margin-top: .4em !important; }

.cart-text {
  font-size: 2rem !important;
  font-weight: 700 !important;
  color: #74559b !important;
  position: absolute !important;
  top: 89% !important;
  left: 45% !important; }

.heart-icon {
  height: 3rem !important;
  max-width: 100% !important;
  position: absolute !important;
  top: 88% !important;
  left: 15% !important; }

.shopping-bag-purple-icon {
  height: 7rem !important;
  max-width: 100% !important;
  position: relative !important;
  top: 84.5% !important;
  left: 30% !important; }

.footer-section-1 {
  height: 40rem;
  background: #faf8fb; }
  .footer-section-1-box-1 {
    display: inline-block;
    height: 10rem;
    position: relative;
    top: 8rem;
    transform: translateY(-50%);
    margin-left: 6rem;
    padding-right: 4rem;
    left: 4rem; }
  .footer-section-1-box-2 {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 2;
    position: relative;
    color: #a662a2;
    top: 21rem;
    left: -25rem; }

.footer-section-2 {
  position: relative;
  height: 7.5rem;
  background: #f3f0f7; }
  .footer-section-2 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #74559b; }

.widget.woocommerce.dgwt-wcas-widget {
  height: 0; }

.header {
  height: 14.5rem;
  background-color: #fff;
  position: relative;
  border-bottom: 2px solid #ece5f6; }
  .header-box-2 {
    position: absolute;
    left: 25rem;
    top: 25%;
    font-size: 2rem;
    color: #a662a2;
    line-height: 3rem;
    opacity: .7; }
  .header-box-5 {
    float: right; }
    .header-box-5-span-1 {
      position: relative;
      left: 43rem;
      font-size: 2.2rem;
      color: #a662a2;
      top: 4rem; }
    .header-box-5-span-2 {
      position: relative;
      left: 30rem;
      font-size: 1.7rem;
      top: 7rem; }

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
  width: 40rem !important;
  height: 6rem !important;
  border-radius: 10px !important;
  background-color: #faf8fb !important;
  font-size: 1.9rem !important;
  -webkit-box-shadow: inset 3px 3px 14px -5px rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: inset 3px 3px 14px -5px rgba(0, 0, 0, 0.4) !important;
  box-shadow: inset 3px 3px 14px -5px rgba(0, 0, 0, 0.4) !important;
  position: relative !important;
  bottom: 235rem !important;
  left: 10rem !important; }

.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
  padding: 10px 15px 10px 20px !important; }

.dgwt-wcas-close, .dgwt-wcas-inner-preloader {
  display: none; }

.dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier {
  display: none; }

.magnifier-icon {
  position: absolute;
  height: 4rem !important;
  z-index: 1;
  opacity: .8;
  left: 44.5rem;
  bottom: 235.8rem; }

.dgwt-wcas-suggestion {
  line-height: 200% !important; }

.cart-icon {
  position: absolute;
  height: 11rem;
  left: 73%;
  top: 1.5rem; }

#menu-main-navigation {
  display: inline-block;
  position: relative;
  background: #fff;
  float: right;
  top: 0rem; }
  #menu-main-navigation li {
    display: inline-block;
    font-family: 'Hepta Slab', serif;
    font-size: 3rem;
    padding: 2.7rem;
    background-color: white; }
    #menu-main-navigation li:not(:last-child) {
      border-right: 2px solid #ece5f6; }
    #menu-main-navigation li a:link, #menu-main-navigation li a:visited {
      text-decoration: none;
      color: #74559b;
      font-weight: 700; }
    #menu-main-navigation li:hover {
      background-color: #f3f0f7; }
  #menu-main-navigation:link, #menu-main-navigation:visited {
    text-decoration: none; }

@-moz-document url-prefix() {
  #menu-main-navigation li {
    padding: 2.4rem; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #menu-main-navigation li {
    padding: 2.4rem; } }

.navigation {
  display: inline-block;
  position: absolute;
  font-family: 'Hepta Slab', serif;
  font-size: 3rem;
  padding: 2.7rem;
  background-color: #74559b; }
  .navigation span {
    font-family: 'Hepta Slab', serif;
    font-size: 3rem;
    color: white;
    position: relative;
    margin-right: 2rem;
    right: 6%; }

@-moz-document url-prefix() {
  .navigation {
    padding: 2.4rem; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .navigation {
    padding: 2.4rem; } }

.sidebar {
  width: 23.4rem;
  height: 69.5rem;
  background-color: #fff;
  display: inline-block; }

.product-categories {
  position: absolute;
  top: 33rem;
  font-size: 1.8rem;
  font-family: 'Hepta Slab', serif; }
  .product-categories li {
    padding: 1.8rem; }
    .product-categories li a:link, .product-categories li a:visited {
      text-decoration: none;
      color: #333; }
    .product-categories li a:hover {
      background-color: #74559b; }

@-moz-document url-prefix() {
  .product-categories {
    top: 30rem; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .product-categories {
    top: 30rem; } }

.widget-title {
  display: none; }

.topbar {
  height: 5rem;
  background-color: #333;
  position: relative;
  font-family: 'Hepta Slab', serif;
  font-size: 1.4rem;
  color: #fff; }
  .topbar-box-1 {
    color: #fff;
    display: inline-block;
    position: relative;
    top: 1.5rem;
    margin-left: 1rem; }
  .topbar-box-2 {
    background-color: #a662a2;
    width: 48rem;
    height: 6rem;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .topbar-box-2-img {
      height: 5rem;
      margin-right: 1rem; }
    .topbar-box-2-1 {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      bottom: .4rem; }
      .topbar-box-2-1 span {
        position: relative;
        bottom: 1.5rem; }
  .topbar-box-3-img {
    height: 3.5rem; }
  .topbar-box-3-container {
    display: inline-block;
    float: right;
    position: relative;
    bottom: .5rem;
    margin-right: 3rem; }
  .topbar-box-3-1 {
    display: inline-block;
    margin-right: 3rem; }
    .topbar-box-3-1 span {
      position: relative;
      bottom: 1.2rem;
      letter-spacing: .2rem; }
  .topbar-box-3-2 {
    display: inline-block;
    float: right; }
    .topbar-box-3-2 span {
      position: relative;
      bottom: 1.2rem;
      letter-spacing: .2rem; }
